html {
  height:100vh;
}
body {
  height:100vh;
  font-family: open sans;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#10214e;
}

.column-container {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1vw;
}

.purple-bg {
  text-align: center;
  font-size: 5vh;
  background-color: purple;
  border: 1px solid black;
  width: 22vw;
  border-radius: 5px;
}

.list-container {
  font-size: 4vh;
  border: 3px double black;
  border-top: none;
  text-decoration: underline;
  width: 20vw;
  height: 20vw;
}

ul {
  padding-top: 0;
  margin-top: 0;
}

img {
  width: 100%;
  height: auto;
}

.image-container {
  border: 3px double black;
  border-bottom: none;
  width: 20vw;
  height: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}